<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>title</key>
		<string>公司名称</string>
		<key>content</key>
		<string>上海杏臣信息科技有限公司</string>
		<key>headImage</key>
		<string>icon_company.png</string>
	</dict>
	<key>2</key>
	<dict>
		<key>title</key>
		<string>所属部门</string>
		<key>content</key>
		<string>研发部</string>
		<key>headImage</key>
		<string>icon_document.png</string>
	</dict>
	<key>3</key>
	<dict>
		<key>title</key>
		<string>所属行业</string>
		<key>content</key>
		<string>移动互联网</string>
		<key>headImage</key>
		<string>icon_industry.png</string>
	</dict>
	<key>4</key>
	<dict>
		<key>title</key>
		<string>公司网址</string>
		<key>content</key>
		<string>www.certne.com</string>
		<key>headImage</key>
		<string>icon_website.png</string>
	</dict>
	<key>5</key>
	<dict>
		<key>title</key>
		<string>公司地址</string>
		<key>content</key>
		<string>闸北区沪太路315弄华舟小区</string>
		<key>headImage</key>
		<string>icon_address.png</string>
	</dict>
	<key>6</key>
	<dict>
		<key>title</key>
		<string>邮政编码</string>
		<key>content</key>
		<string>200070</string>
		<key>headImage</key>
		<string>icon_personEmail.png</string>
	</dict>
</dict>
</plist>
