<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>headImage</key>
		<string>leijun.png</string>
		<key>name</key>
		<string>雷布死</string>
		<key>position</key>
		<string>董事长</string>
		<key>industry</key>
		<string>移动互联网</string>
		<key>company</key>
		<string>小米科技</string>
	</dict>
	<key>2</key>
	<dict>
		<key>headImage</key>
		<string>linzhiying.png</string>
		<key>name</key>
		<string>林志颖</string>
		<key>position</key>
		<string>赛车教练</string>
		<key>industry</key>
		<string>赛车运动</string>
		<key>company</key>
		<string>不知名车队</string>
	</dict>
	<key>3</key>
	<dict>
		<key>headImage</key>
		<string>wangshi.png</string>
		<key>name</key>
		<string>王石</string>
		<key>position</key>
		<string>坑爹队长</string>
		<key>industry</key>
		<string>坑爹房地产</string>
		<key>company</key>
		<string>万科坑爹股份有限公司</string>
	</dict>
	<key>4</key>
	<dict>
		<key>headImage</key>
		<string>nala.png</string>
		<key>name</key>
		<string>张那拉</string>
		<key>position</key>
		<string>演员</string>
		<key>industry</key>
		<string>演艺圈</string>
		<key>company</key>
		<string>上海某电影公司</string>
	</dict>
	<key>5</key>
	<dict>
		<key>headImage</key>
		<string>yifei.png</string>
		<key>name</key>
		<string>小龙女</string>
		<key>position</key>
		<string>掌门</string>
		<key>industry</key>
		<string>武艺圈</string>
		<key>company</key>
		<string>上海华山派有限公司</string>
	</dict>
</dict>
</plist>
